html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

html {
  font-size: 12px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  padding: 13.5px 44px;
  border-radius: 8px;
  letter-spacing: 0.03rem;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 1px;
  margin-right: 6px;
}

.btn:hover {
  cursor: pointer;
}

.btn--outline {
  background-color: transparent;
  border: solid 2px #2a73dd;
  color: #2a73dd;
}

.btn--outline:hover {
  background-color: #2a73dd;
  color: white;
}

.btn--contain {
  background: linear-gradient(120deg, #60a4f4, #2a73dd);
  padding: 15.5px 46px;
  color: white;
  border: none;
}

.btn--contain:hover {
  opacity: 0.7;
}

.btn--buy {
  background: #f5f9fe;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.04px;
  font-size: 10px;
  font-weight: 600;
  color: #2a73dd;
  -webkit-box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
          box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn--buy:hover {
  -webkit-box-shadow: inset 1px 1px 3px #e2ebfc, inset -2px -2px 5px #fff;
          box-shadow: inset 1px 1px 3px #e2ebfc, inset -2px -2px 5px #fff;
}

.setting {
  position: fixed;
  top: 25%;
  right: 0;
  z-index: 500;
  color: #fff;
}

.setting__btn {
  background: #2196f3;
  padding: 5px 20px;
  border: 1px solid #2196f3;
  border-radius: 8px 0 0 8px;
  letter-spacing: 0.015rem;
  position: fixed;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .5s;
  transition: .5s;
  color: #fff;
}

.setting__content {
  background-color: #2196f3;
  width: 150px;
  padding: 20px 10px;
  font-size: 1.2rem;
  text-align: center;
}

.setting__content--hidden {
  display: none;
}

.setting__content .setting__theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.setting__content .setting__theme span {
  margin-top: 10px;
}

.setting__content .setting__theme .setting__switch input {
  display: block;
  opacity: 0;
}

.setting__content .setting__theme .setting__switch label {
  position: relative;
  width: 42px;
  height: 22px;
  display: inline-block;
  background-color: #2a73dd;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.setting__content .setting__theme .setting__switch label:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 0.5px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 1px 3px 6px #666666;
          box-shadow: 1px 3px 6px #666666;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.setting__content .setting__theme .setting__switch input:checked + label:after {
  left: auto;
  right: 2px;
}

.header {
  background-color: #f5f9fe;
  -webkit-box-shadow: 0 2px 4px #e2ebfc;
          box-shadow: 0 2px 4px #e2ebfc;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container .header__logo a {
  font-size: 2rem;
  font-weight: 700;
  color: #2a73dd;
}

.header__container .header__nav .header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container .header__nav .header__nav-list .header__nav-item {
  padding: 25px;
}

.header__container .header__nav .header__nav-list .header__nav-item a {
  font-size: 16px;
  font-weight: 600;
  color: #1d365e;
}

.header__container .header__nav .header__nav-list .header__nav-item a::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #2a73dd;
  margin-top: 3px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.header__container .header__nav .header__nav-list .header__nav-item:hover a {
  color: #2a73dd;
}

.header__container .header__nav .header__nav-list .header__nav-item:hover a::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__container .header__nav .header__nav-list .header__nav-item--active a {
  color: #2a73dd;
}

.header__container .header__nav .header__nav-list .header__nav-item--active a::after {
  width: 100%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.banner {
  background-image: url("../../image/product-header-bg.jpg");
  background-size: cover;
  background-position: center bottom;
  padding: 225px 0;
}

.banner .banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner__container .banner__content h1.banner__title {
  font-size: 6rem;
  font-weight: 700;
  color: #2a73dd;
  margin-bottom: 7px;
  line-height: 1.2;
}

.banner .banner__container .banner__content h2.banner__subtitle {
  font-size: 2rem;
  font-weight: 600;
  color: #1d365e;
  margin-bottom: 30px;
  letter-spacing: 0.015rem;
}

.banner .banner__container .banner__content p.banner__txt {
  font-size: 1.25rem;
  font-weight: 400;
  color: #656774;
  margin-bottom: 25px;
}

.banner .banner__container .banner__img {
  max-width: 570px;
  margin: 0 auto;
}

.banner .banner__container .banner__img img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .banner .banner__container .banner__img {
    display: none;
  }
}

.product {
  padding: 100px 0;
}

.product__container h2.product__title {
  margin-bottom: 70px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #1d365e;
  letter-spacing: 0.015rem;
}

.product__container .product__grid .product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__container .product__grid .product__row .product__item {
  max-width: 33.33%;
  -webkit-box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
          box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  background-color: #f5f9fe;
  border: none;
  padding: 30px;
  margin-bottom: 30px;
}

.product__container .product__grid .product__row .product__item .product__img {
  width: 100%;
  -webkit-box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
          box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
}

.product__container .product__grid .product__row .product__item-body {
  padding: 1.5rem;
}

.product__container .product__grid .product__row .product__item-body .product__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #1d365e;
}

.product__container .product__grid .product__row .product__item-body .product__txt h3.product__name {
  font-size: 20px;
  font-weight: 700;
  padding: 0.5rem 0;
}

.product__container .product__grid .product__row .product__item-body .product__txt p.product__category {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.product__container .product__grid .product__row .product__item-body .product__txt .product__price {
  font-size: 20px;
  font-weight: 700;
}

.product__container .product__grid .product__row .product__item-body .product__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__container .product__grid .product__row .product__item-body .product__icon .product__rating ul li {
  display: inline;
}

.product__container .product__grid .product__row .product__item-body .product__icon .product__rating ul li i {
  color: #f9d412;
  font-weight: 900;
  font-size: 1.2rem;
}

.footer {
  background-color: #2a73dd;
  padding-bottom: 60px;
  color: white;
}

.footer img {
  margin-bottom: 60px;
}

.footer .footer__img-dark {
  display: none;
}

.footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__container .footer__left {
  font-size: 1.2rem;
}

.footer .footer__container .footer__right .footer__nav-item {
  display: inline;
}

.footer .footer__container .footer__right .footer__nav-item a {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.footer .footer__container .footer__right .footer__nav-item a:hover {
  opacity: 0.7;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */